* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
html,body {
  width:100%;
  height:625px;
}
/* #container {
  width: 100;
  height: 750px;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
}
#Main-container {
  display: flex;
  height: 60%;
  width: 80%;
  margin: auto;
  border-radius: 20px;
  background-color: antiquewhite;
}
#directional-flow{
  height: 60%;
  width: 80%;
  display: flex;
  justify-content: flex-start;
}
#heading1{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 25px;
  margin-left:15%;
  font-size: 15px;
}
#vertical-direction{
  width:200px;
  height:90%;
  background-color:#D9D9D9;
  margin:40px 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

}
.heading2{
  margin-top:20px;
  margin-left: 10px;
  font-size:15px ;
}
.shapes01
{
  margin-top: 30px;
  margin-left: 20px;
}
.shape1{
  background-color: #FF0000;
}
.shape2{
  background-color:#00EA09;
}
.shape3{
  background-color:#0094FF;
}
.shape01{
  margin-bottom:10px ;
  height:38px;
  width: 38px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: black 3px solid;
  font-weight: 600;
  font-size: 20px;
}
#horizontal-direction{ 
  width:200px;
  height: 90%;
  background-color:#D9D9D9;
  margin:40px 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

}
.shapes02
{
  display: flex;
  align-items:flex-end;
  justify-content:flex-start;
  flex-direction:row;
  margin-top: 30px;
  margin-left: 20px;
}
.shape02{
  margin-right:10px ;
  height:38px;
  width: 38px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: black 3px solid;
  font-weight: 600;
  font-size: 20px;
} */

h1{
  font-size:7vh ;
}