* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f9f9f9;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #7adfff;
}
a {
  color: #337ab7;
  text-decoration: none;
  text-underline-position: under;
  text-decoration-thickness: 0.16rem;
}
.container {
  max-width: 1200px;
  /* margin: 0 auto; */
  /* padding: 20px 0; */
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  margin: 10px;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
@media (max-width: 1024px) {
  .container {
    max-width:1024px;
  }
  .grid {
    width: 968px !important;
    display: grid !important;
    grid-template-columns: repeat(4, 1fr) !important;
    gap: 20px;
    z-index: 1;
    margin:62px auto;
    justify-content: center;
  }

}
@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
  .grid {
    width: 650px !important;
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 20px;
    z-index: 1;
    margin:48px 60px;
  }
  .box {
    width: 100%;
    height: 277px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
  }
}
@media (max-width: 480px) {
  .container {
    max-width: 480px;
  }
  .grid {
    width: 358px !important;
    display: grid !important;
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 20px;
    z-index: 1;
    margin:32px 16px;
    justify-content: center;
  }
}
label,
button,
select,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
  cursor: pointer;
}
article ol,
article ul {
  list-style-position: inside;
}

/* My Approach */

/* .grid-layout {
  max-width: 1200px; comment
  margin: 72px 120px;
  padding: 20px 0; comment
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.box {
  width: 285px;
  height: 269px;
  background-color: white;
}
.box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}
.super-box-cont {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
} */

/* Video Approach */

.grid {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  z-index: 1;
  margin:72px auto;
  justify-content: center;
}
.box {
  width: 100%;
  height: 269px;
  background-color: rgb(255, 255, 255);
  z-index: 1;
}
