* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;
  color: #333;
  display:flex ;
  align-items: center;
  justify-content: center;
}
a {
  color: #337ab7;
  text-decoration: none;
  text-underline-position: under;
  text-decoration-thickness: 0.16rem;
}
.container {
  max-width: 1200px;
  /* height: 100vh; */
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  margin: 10px;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
@media (max-width: 768px) {
  .frame {
    width: 640px;
    height: 600px;
    margin: 40px 60px !important;
  }
}
@media (max-width: 480px) {
  .frame {
    width: 360px;
    height: 600px;
    margin: 24px 16px !important;
  }
}
label,
button,
select,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
  cursor: pointer;
}
article ol,
article ul {
  list-style-position: inside;
}
.outer-container {
  width: 100vw;
  height: 100vh;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame {
  width: 1000px;
  height: 600px;
  margin: 80px 120px;
}
.section{
  display: flex;
  width:100%;
  height:150px;
}
.box{
  height: 100%;
  width: 50%;
}
.box1 {
  background-color: #e7caff;
}
.box2 {
  background: #e3a7ff;
}
.box3 {
  background: #7e45a8;
}
.box4 {
  background: #ab47fb;
}
.box5 {
  background: #9e38ef;
}
.box6 {
  background: #7629b2;
}
.box7 {
  background: #340c53;
}
.box8 {
  background: #560e8d;
}
