/* FOR DESKTOP FIRST PERSPECTIVE (1440px) */
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
:root {
  --black-color: black;
  --white-color: white;
}
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f9f9f9;
  color: #333;
}
.container {
  max-width: 1200px;
  margin: 10px auto;
  /* padding: 20px 0; */
}

.top-section {
  width: 100%;
  height: 160px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--black-color);
  padding: 16px 16px;
  border-radius: 15px;
  margin-bottom: 30px;
}
.circle-search {
  display: flex;
  /* padding: 8px 8px; */
  justify-content: space-between;
  gap: 10px;
}
.circle {
  width: 75px;
  height: 75px;
  background-color: var(--white-color);
  border-radius: 50px;
}
.search-bar {
  width: 100%;
  height: 75px;
  background-color: var(--white-color);
  border-radius: 50px;
}
.profile-section {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100%;
}
.prof-cont {
  display: flex;
  gap: 16px;
}
.prof-box {
  width: 42px;
  height: 42px;
  background-color: var(--white-color);
}
.lines-cont {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.line {
  width: 100px;
  height: 10px;
  background-color: var(--white-color);
}

/* Bottom section */

.bottom-section {
  width: 100%;
  height: 100%;
  background-color: var(--black-color);
  padding: 16px 16px;
}
.bottom-profile-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}
.bottom-profile {
  display: flex;
  gap: 12px;
}
.bottom-circle {
  height: 75px;
  width: 75px;
  border-radius: 50px;
  background-color: var(--white-color);
}
.bottom-lines-cont {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 6px 6px;
}
.big-line {
  width: 150px;
  height: 15px;
  background-color: var(--white-color);
}
.small-line {
  width: 150px;
  height: 5px;
  background-color: var(--white-color);
}
.small-boxes {
  display: flex;
  gap: 4px;
  padding: 2px 0;
}
.small-box {
  height: 15px;
  width: 15px;
  background-color: var(--white-color);
}
.big-box {
  height: 15px;
  width: 30px;
  background-color: var(--white-color);
}
.right-boxes {
  display: flex;
  gap: 8px;
}
.box {
  height: 22px;
  width: 22px;
  background-color: var(--white-color);
}
.bottom-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.rectangle-1 {
  width: 350px;
  height: 28px;
  background-color: var(--white-color);
}
.rectangle-2 {
  width: 100%;
  height: 72px;
  background-color: var(--white-color);
}
.content-box {
  width: 100%;
  height: 800px;
  background-color: var(--white-color);
}

/* FOR DESKTOPS */
@media screen and (max-width: 1024px) {
  .container {
    max-width: 900px;
  }
}
/* FOR TABLETS */
@media screen and (max-width: 768px) {
  .container {
    max-width: 654px;
  }
  .profile-section {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
  }

  .circle {
    width: 65px;
    height: 65px;
    background-color: var(--white-color);
    border-radius: 50px;
  }

  .search-bar {
    width: 100%;
    height: 65px;
    background-color: var(--white-color);
    border-radius: 50px;
  }
  .big-line {
    height: 38px;
  }
}
/* FOR MOBILES */
@media screen and (max-width: 480px) {
  .container {
    max-width: 420px;
    margin: 20px 16px;
  }
  .top-section {
    height: auto;
    gap: 12px;
    margin-bottom: 15px
  }
  .profile-section {
    flex-direction: column;
    gap: 12px;
  }
  .prof-box {
    height: 45px;
    width: 45px;
  }
  .lines-cont {
    width: 100%;
  }
  .line {
    width: 100%;
    background-color: var(--white-color);
    height: 11px;
  }

  .bottom-profile-cont {
    flex-direction: column-reverse;
    gap: 14px;
  }
  .bottom-profile {
    width: 100%;
  }
  .bottom-lines-cont {
    width: 100%;
    padding: 0 0;
  }
  .big-line {
    width: 100%;
  }
  .small-line {
    width: 100%;
    height: 8px;
  }
  .small-box {
    height: 20px;
    width: 20px;
  }
  .big-box {
    height: 20px;
    width: 70px;
  }
  .line-2 {
    width: 80%;
  }
  .right-boxes {
    align-self: flex-end;
  }
  .box {
    height: 24px;
    width: 24px;
  }
  .rectangle-1 {
    width: 100%;
  }
  .bottom-content{
    gap: 16px;
  }
}

label,
button,
select,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
  cursor: pointer;
}
article ol,
article ul {
  list-style-position: inside;
}
a {
  color: #337ab7;
  text-decoration: none;
  text-underline-position: under;
  text-decoration-thickness: 0.16rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  margin: 10px;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
