/* FOR DESKTOP FIRST PERSPECTIVE (1440px) */
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f9f9f9;
  color: #333;
  overflow-x: hidden;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}
.main {
  width: 100%;
  height: 100%;
}
/* Hero Section */
.hero {
  display: flex;
  width: 100%;
  height: 700px;
  background-color: #191919;
  .navbar {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 80px;
    height: 100%;
    width: 500px;
    border-right: 2px solid #def3df;
    ul {
      /* margin: 0 98px; */
      margin-top: 138px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      align-items: center;
      /* padding: 50px 50px; */
      li {
        list-style: none;
        a {
          font-size: 18px;
          color: white;
          line-height: 30px;
          transition: all 0.3s ease-in;
        }
        a:hover {
          font-size: 20px;
        }
      }
    }
    .social {
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #def3df;
        height: 50px;
        width: 50px;
        color: black;
        font-weight: 900;
        font-size: 20px;
        border: 3px solid white;
      }
    }
  }
  .hero-body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* background-color: red; */

    .get_in_touch_btn {
      top: 0;
      right: 0;
      margin-top: 60px;
      margin-right: 80px;
      font-size: 18px;
      font-weight: bold;
      line-height: 40px;
      border: none;
      padding: 6px 25px;
      background-color: #def3df;
      border-radius: 100px;
      position: absolute;
      border: 2px solid white;
    }

    .hero_body_content {
      margin: 0 150px;
      .intro {
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
        .profile_pic {
          background-image: url(Images/profile\ pic.webp);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          height: 50px;
          width: 50px;
          border-radius: 50px;
          border: 3px solid white;
        }
        .name_location {
          display: flex;
          align-items: center;
          gap: 8px;
          .tag {
            height: 8px;
            width: 8px;
            background-color: #def3df;
            border-radius: 50%;
          }
        }
      }
      .name {
        font-size: 85px;
        color: white;
      }
      .skills_experience {
        margin-left: 20px;
        h2 {
          color: white;
          font-size: 20px;
          line-height: 30px;
          font-weight: 500;
        }
      }
    }
  }
}
/* Get to know me section */
.get_to_know_me {
  width: 100vw;
  /* height: 100vh; */
  background-color: black;

  .container {
    /* background-color: red; */
    max-width: 1280px;
  }

  .get_to_know_me_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 115px;
    width: 100%;
    height: 100%;
    /* background-color: green ; */
    margin: 100px 0;

    .get_to_know_me_img {
      img {
        width: 580px;
        height: 600px;
      }
    }

    .get_to_know_me_intro {
      display: flex;
      flex-direction: column;
      gap: 30px;
      h2 {
        color: white;
        font-size: 48px;
        line-height: 50px;
      }
      p {
        color: white;
        font-size: 20px;
        line-height: 30px;
      }
      .get_to_know_me_btn {
        font-size: 18px;
        width: 180px;
        font-weight: bold;
        line-height: 40px;
        border: none;
        padding: 6px 25px;
        background-color: #def3df;
        border-radius: 100px;
        border: 2px solid white;
      }
    }
  }
}
/* Experience */
.experience {
  width: 100%;
  background-color: #191919;

  .experience-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
  }
  h2 {
    margin-top: 100px;
    color: white;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
  }
  .cards {
    width: 100%;
    display: flex;
    gap: 26px;
    flex-direction: column;
    margin-top: 50px;

    .card {
      color: white;
      text-align: center;
      width: 100%;
      background-color: black;
      border-radius: 8px;
      border: 1px solid #def3df;

      .tag {
        display: inline-block;
        background-color: #def3df;
        color: black;
        font-size: 14px;
        padding: 3px 8px;
        border-radius: 100px;
        font-weight: 900;
        margin-top: 47px;
      }
      h3 {
        color: #def3df;
        font-size: 24px;
        line-height: 48px;
        font-weight: 700;
      }
      h4 {
        color: #def3df;
        font-size: 18px;
        font-weight: 100;
      }
      p {
        font-size: 16px;
        font-weight: 100;
        margin: 0 330px;
        margin-bottom: 30px;
        margin-top: 10px;
      }
    }
  }
  .show_more_button {
    margin: 70px 0 80px 0;
    font-size: 18px;
    font-weight: 900;
    color: black;
    line-height: 40px;
    padding: 4px 30px;
    border-radius: 100px;
    background-color: #def3df;
  }
}
/* My Projects */
.my_projects {
  width: 100%;
  background-color: black;
  .projects_container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
  }
  h2 {
    margin-top: 122px;
    font-size: 48px;
    color: white;
  }
  .projects_content {
    background-color: #191919;
    border: 1px solid white;
    border-radius: 8px;
    padding: 0 25px;
    margin-top: 60px;
    display: flex;
    gap: 40px;
    width: 100%;
    margin-bottom: 100px;
    .left {
      margin: 63px 0;
      width: 50%;
      .tagline {
        display: flex;
        align-items: center;
        gap: 17px;
        .number_tag {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 24px;
          font-weight: 900;
          width: 50px;
          height: 50px;
          background-color: #def3df;
          border-radius: 50%;
        }
        h3 {
          color: #def3df;
          font-size: 24px;
          line-height: 48px;
          font-weight: 700;
        }
      }
      p {
        font-size: 16px;
        color: white;
        text-align: start;
        margin-top: 25px;
        margin-right: 20px;
      }
      .key_features {
        margin-top: 25px;
        h3 {
          font-size: 24px;
          color: white;
          text-align: start;
        }
        ul {
          margin-top: 8px;
          list-style-position: inside;
          li {
            font-size: 16px;
            color: white;
            text-align: start;
            line-height: 28px;
          }
        }
      }
    }
    .right {
      margin: 63px 0;
      width: 50%;
      .technologies_used {
        margin: 25px 0 5px 10px;
        h3 {
          font-size: 24px;
          color: white;
          text-align: start;
        }
        ul {
          li {
            font-size: 16px;
            color: white;
            line-height: 28px;
            text-align: start;
            list-style-position: inside;
          }
        }
      }
    }
  }
}
/* My Skillset */
.my_skillset {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: black;

  .skills {
    display: inline-block;
    /* background-color: red; */
    text-align: center;
    /* margin-top: 100px; */
    h2 {
      color: white;
      font-size: 48px;
      font-weight: 900;
      margin-bottom: 50px;
    }
    h3 {
      color: white;
      font-size: 24px;
      line-height: 48px;
    }
    p {
      color: white;
      font-size: 16px;
    }
    div {
      margin-top: 40px;
    }
  }
}
/* Contact Me */
.contact_me {
  width: 100%;
  height: 100%;
  background-color: #191919;

  .contact_container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px 0;
  }
  .contact_content {
    height: 100%;
    width: 100%;
    display: flex;
    margin: 100px 0;

    .left {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 115px;
      .right_content {
        color: white;
        h2 {
          font-size: 48px;
          font-weight: 900;
        }
        .para {
          margin-top: 30px;
          p {
            font-size: 16px;
            line-height: 28px;
          }
        }
        .email {
          display: flex;
          align-items: center;
          gap: 20px;
          margin-top: 36px;
          .email_tag {
            display: flex;
            width: 50px;
            height: 50px;
            background-color: #def3df;
            color: black;
            font-weight:800;
            font-size: 28px;
            font-family: "helvetica";
            border-radius: 100px;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
    /* .right{
      background-color: red;
      height: 100vh;
      width: 50%;
      display: flex;
      flex-direction: column;
      text-align: start;
      justify-content: center;
    } */
  }
}

/* FOR DESKTOPS */
@media screen and (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
/* FOR TABLETS */
@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* FOR MOBILES */
@media screen and (max-width: 480px) {
  .container {
    max-width: 480px;
  }
}

label,
button,
select,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
  cursor: pointer;
}
article ol,
article ul {
  list-style-position: inside;
}
a {
  color: #ffffff;
  text-decoration: none;
  text-underline-position: under;
  text-decoration-thickness: 0.16rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  margin: 10px;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
