/* FOR DESKTOP FIRST PERSPECTIVE (1440px) */
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #7adfff;
  color: #333;
}
.container {
  /* position: relative; */
  max-width: 1200px;
  min-height: 600px;
  margin: 60px auto;
  /* padding: 20px 0; */
  /* background-color: red; */
}
.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1.5fr 2fr;
  /* grid-template-areas:
    "box1 box1 box3"
    "box2 box2  box3"; */
  gap: 20px;
}
.box1 {
    grid-row: 1/2;
    grid-column: 1/2;
  /* grid-area: box1; */
  background: #4f8eec;
}
.box2 {
    grid-row: 2/3;
    grid-column: 1/2;
  /* grid-area: box2; */
  background: #0a1e3c;
}
.box3 {
    grid-row: 1/3;
    grid-column: 2/3;

  /* grid-area: box3; */
  background: #005c79;
}

/* FOR DESKTOPS */
@media screen and (max-width: 1024px) {
  .container {
    max-width: 968px;
  }
  .container {
    /* position: relative; */
    max-width: 968px;
    margin: 60px auto;
    /* padding: 20px 0; */
    /* background-color: red; */
  }
}

/* FOR TABLETS */
@media screen and (max-width: 768px) {
  .container {
    max-width: 700px;
  }
  .container {
    /* position: relative; */
    max-width: 700px;
    min-height: 1000px;
    margin: 56px auto;
    /* padding: 20px 0; */
    /* background-color: red; */
  }

  .grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1.5fr 4fr;
    /* grid-template-areas:
      "box1 box1 box3"
      "box2 box2  box3"; */
    row-gap: 12px;
    column-gap: 16px;
  }

}

/* FOR MOBILES */
@media screen and (max-width: 480px) {
  .container {
    max-width: 390px;
  }
  .container {
    /* position: relative; */
    max-width: 390px;
    min-height: 1000px;
    margin: 24px auto;
    /* padding: 20px 0; */
    /* background-color: red; */
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* grid-template-rows: 1.5fr 4fr; */
    /* grid-template-areas:
      "box1 box1 box3"
      "box2 box2  box3"; */
    row-gap: 12px;
    column-gap: 16px;
  }
  .box1 {
    grid-row: 1/2;
    grid-column: 1/2;
  background: #4f8eec;
}
.box2 {
    grid-row: 2/3;
    grid-column: 1/2;
  /* grid-area: box2; */
  background: #0a1e3c;
}
.box3 {
    grid-row: 3/4;
    grid-column: 1/2;

  /* grid-area: box3; */
  background: #005c79;
}
}

label,
button,
select,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
  cursor: pointer;
}
article ol,
article ul {
  list-style-position: inside;
}
a {
  color: #337ab7;
  text-decoration: none;
  text-underline-position: under;
  text-decoration-thickness: 0.16rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  margin: 10px;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
